nav{
    height: 40px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: fixed;
}
.navbar-div a:hover,
.navbar-div a:active,
.navbar-div a.active{
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
}
a{
    text-decoration: none;
    color: white;
    font: 1em sans-serif;
    size: 2em;
}

#cart-button{
    color: rgb(255, 255, 255);
    margin-left: 2px;
    height: 20px;
    border: 1px solid rebeccapurple;
}

#cart-button:hover{
    color: red;
    margin-left: 2px;
    height: 20px;
    border: 1px solid rebeccapurple;
}

#cart-amount{
    color: rgb(255, 255, 255);
}